html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #e5e0e0;
  display: flex;
  flex-direction: column;
  font-family: cormorant;
  font-size: 18px;
  padding: 0;
  align-items: center;
  margin: 0;
  max-width: 100%;
  /*overflow-x: hidden;*/
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #01132879;
}

.title {
  font-size: 4vw;
  font-family: quicksand;
  font-weight: 300;
  color: white;
  border-bottom: 1px solid #bcb276;
  padding: 1%;
  margin-left: 3%;
  margin-right: 4%;
  margin-top: 0;
  text-align: left;
  align-self: baseline;
}
@media only screen and (max-width: 500px) {
  .menu {
    max-width: fit-content;
    font-size: 1.8rem;
    margin-right: 2%;
  }
}

.menu {
  padding: 1%;
  align-self: stretch;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 2.5vw;
  font-family: "quicksand";
  font-weight: 300;
  border-left: solid 1px #bcb276;
  padding-left: 0.3em;
  padding-right: 0.2em;
  margin: 1vw;
}

@media only screen and (max-width: 800px) {
  .uvodem,
  .sluzby,
  .cenik,
  .kontakt {
    display: none;
  }
}

a.kontakt {
  color: #bcb276;
  font-weight: 300;
}

.ham {
  width: 5vw;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2% 3% 0 0;
  cursor: pointer;
}
.cara1,
.cara2,
.cara3 {
  width: 100%;
  flex-shrink: 0;
  height: 2px;
  background-color: white;
  margin: 10%;
}
.cara2 {
  background-color: #bcb276;
}
@media only screen and (min-width: 800px) {
  .ham,
  .cara1,
  .cara2,
  .cara3 {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .ham {
    width: 9%;
    align-self: stretch;
  }
}
/*navigace klik*/

.nav {
  background-color: #bcb176ea;
  position: fixed;

  width: 40%;
  height: 100%;
  right: 0;
  top: 0;
  margin-top: 0;
  padding-top: 10rem;
}
ul {
  list-style: none;
}
@media only screen and (min-width: 800px) {
  .nav {
    display: none;
  }
}
.nav-link {
  text-align: left;
  text-decoration: none;
  font-family: quicksand;
  font-size: 1.6rem;
  color: #07192f;

  /*border-bottom: 1px solid #07192f;*/
}

.header {
  width: 100vw;
  background-image: linear-gradient(#010f1f, rgba(42, 40, 50, 0.5)),
    url("img/tmava.jpg");
  background-size: 100%; /* výchozí velikost */
  background-position: center;
  background-repeat: no-repeat;
  animation: zoomBackground 8s ease-out forwards;
  box-shadow: 3px 2px 15px #bcb276;
  margin-bottom: 5%;
}

@keyframes zoomBackground {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 105%;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    height: 50vh;
  }
}
.name {
  color: #bcb276;
  margin-top: 12%;
  margin-left: 3%;
  font-size: 6.5vw;
  font-family: Playfair Display;
  font-weight: 200;
  animation: zoomName 8s ease-out forwards;
}

@keyframes zoomName {
  0% {
    font-size: 6vw;
  }
  100% {
    font-size: 6.5vw;
  }
}

@media only screen and (max-width: 500px) {
  .name {
    margin-top: 5rem;
    font-size: 6vh;
  }
}
.text {
  width: 40vw;
  color: rgba(245, 243, 222, 0.839);
  margin-top: 4%;
  font-size: 4vw;
  font-style: italic;
  font-family: Playfair Display;
  padding: 4%;
  opacity: 0;
  /*transform: translateY(20px);*/
  animation: fadeSlideIn 1s ease-out 1s forwards;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 500px) {
  .text {
    font-size: 4vh;
    padding: 3%;
    width: 60vw;
  }
}

/*#contact {
  width: 10%;
  background-color: #bcb176a9;
  border-radius: 20%;
  position: fixed;
  left: 85%;
  top: 40%;
}
@media only screen and (min-width: 800px) {
  #contact {
    display: none;
  }
}*/

.lineb {
  background-color: #bcb17677;
  color: #010f1f;
  width: 100%;
  text-align: right;
  padding-right: 3%;
  margin: 0;
  font-size: 1.5rem;
  font-family: "quicksand";
  font-weight: 400;
  text-shadow: 5px 2px 3px #bcb176;
  text-decoration: overline;
  position: sticky;
  top: 95%;
}
.lineb a {
  text-decoration: none;
  color: #07192f;
}
@media only screen and (min-width: 800px) {
  .lineb {
    display: none;
  }
}
.ubox {
  width: 80vw;
  margin: 5%;
  margin-bottom: 10%;
  padding-top: 6%;
}
#jakub {
  width: 30vw;
  float: left;
  margin-right: 5%;
}
.ubox p {
  margin: 1%;
}

/*karty sluzeb*/

.sbox {
  background-color: #707f965c;
  margin: 0;
  padding: 2%;
  width: 80vw;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.icon {
  width: 4rem;
  height: fit-content;
  background-color: #010f1f;
}

h4 {
  margin-top: 10%;
  color: white;
  font-family: anaheim;
  font-weight: 500;
  font-size: 20px;
  text-decoration: overline #bcb276;
  text-shadow: 3px 1px 3px #010f1f94;
}

.law-title {
  display: flex;
  justify-content: space-between;
  gap: 1%;
}

@media only screen and (min-width: 500px) {
  .sluzbox {
    gap: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start; /* TOHLE je klíčové! */
  }
  .sbox {
    width: 40vw;
    margin: 2%;
  }
}

@media only screen and (min-width: 800px) {
  .sluzbox {
    gap: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start; /* TOHLE je klíčové! */
  }
  .sbox {
    width: 25vw;
    margin: 2%;
  }
}

.sbox-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sbox.flip .sbox-inner {
  transform: rotateY(180deg);
}

.sbox-front,
.sbox-back {
  backface-visibility: hidden;
  padding: 4%;
  background-color: #61687153;
  box-sizing: border-box;
  display: none; /* výchozí stav – obě skryté */
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.sbox-back {
  transform: rotateY(180deg);
}

.sbox:not(.flip) .sbox-front {
  display: block;
}

.sbox:not(.flip) .sbox-back {
  display: none;
}

.sbox.flip .sbox-front {
  display: none;
}

.sbox.flip .sbox-back {
  display: block;
}

.sbox-back p {
  margin-top: 1rem;
  color: #051324;
}

/*.sbox.height-transition {
  transition: height 0.4s ease;
}*/

/*cenik*/
.cenik {
  height: 30%;
}
.kbox {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: #07192f;
  color: white;
  box-shadow: 3px 2px 15px #bcb276;
  margin-top: 7%;
}
.map {
  float: right;
  width: 30%;
}
@media only screen and (max-width: 500px) {
  .map {
    width: 100%;
    height: 10%;
    margin-bottom: 3%;
  }
  .kbox {
    flex-direction: column;
  }
}
.kbox a {
  text-decoration: none;
  color: #bcb176;
}
.kbox a :hover {
  background-color: #bcb176;
}

.address {
  flex-direction: column;
  font-family: Anaheim;
  margin-left: 3%;
}
h3 {
  color: white;
  font-weight: 400;
  margin-bottom: 2%;
}

.hidden {
  display: none;
}
footer {
  width: 100vw;
  font-family: quicksand;
  font-weight: 300;
  text-align: center;
  margin-top: 10%;
  background-color: #6168715c;
  border-top: 1px solid #bcb176;
}
