html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #e5e0e0;
  display: flex;
  flex-direction: column;
  font-family: cormorant;
  font-size: 18px;
  padding: 0;
  align-items: center;
  margin: 0;
  max-width: 100%;
  /*overflow-x: hidden;*/
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #01132879;
}

.title {
  font-size: 4vw;
  font-family: quicksand;
  font-weight: 300;
  color: white;
  border-bottom: 1px solid #bcb276;
  padding: 1%;
  margin-left: 3%;
  margin-right: 4%;
  text-align: left;
  align-self: baseline;
}
@media only screen and (max-width: 500px) {
  .title {
    max-width: fit-content;
    font-size: 1.8rem;
    margin-right: 2%;
  }
}

.menu {
  padding: 1%;
  align-self: stretch;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 2.5vw;
  font-family: "quicksand";
  font-weight: 300;
  border-left: solid 1px #bcb276;
  padding-left: 0.3em;
  padding-right: 0.2em;
  margin: 1vw;
}

@media only screen and (max-width: 800px) {
  .uvodem,
  .sluzby,
  .cenik,
  .kontakt {
    display: none;
  }
}

a.kontakt {
  color: #bcb276;
  font-weight: 300;
}

.ham {
  width: 5vw;
  max-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2% 3% 0 0;
}
.cara1,
.cara2,
.cara3 {
  width: 100%;
  flex-shrink: 0;
  height: 2px;
  background-color: white;
  margin: 10%;
}
.cara2 {
  background-color: #bcb276;
}
@media only screen and (min-width: 800px) {
  .ham,
  .cara1,
  .cara2,
  .cara3 {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .ham {
    width: 9%;
    align-self: stretch;
  }
}

.header {
  width: 100vw;
  background-image: linear-gradient(#010f1f, rgba(42, 40, 50, 0.5)),
    url("img/tmava.jpg");
  background-size: cover;
  box-shadow: 3px 2px 15px #bcb276;
  margin-bottom: 5%;
}
@media only screen and (max-width: 500px) {
  .header {
    height: 50vh;
  }
}

.name {
  color: #bcb276;
  margin-top: 12%;
  margin-left: 3%;
  font-size: 6.5vw;
  font-family: Playfair Display;
  font-weight: 200;
}
@media only screen and (max-width: 500px) {
  .name {
    margin-top: 5rem;
    font-size: 6vh;
  }
}
.text {
  width: 40vw;
  color: rgba(245, 243, 222, 0.839);
  margin-top: 4%;
  font-size: 4vw;
  font-style: italic;
  font-family: Playfair Display;
  padding: 4%;
}
@media only screen and (max-width: 500px) {
  .text {
    font-size: 4vh;
    padding: 3%;
    width: 60vw;
  }
}

#contact {
  width: 10%;
  background-color: #bcb176a9;
  border-radius: 20%;
  position: fixed;
  left: 85%;
  top: 40%;
}
@media only screen and (min-width: 800px) {
  #contact {
    display: none;
  }
}
.ubox {
  width: 80vw;
  margin: 5%;
  margin-bottom: 10%;
  padding-top: 6%;
}
#jakub {
  width: 30vw;
  float: left;
  margin-right: 5%;
}
.ubox p {
  margin: 1%;
}
.sbox {
  background-color: #919dac97;
  margin: 2%;
  padding: 4%;
  width: 80vw;
}

.icon {
  width: 4rem;
  background-color: #010f1f;
}
h4 {
  margin-top: 10%;
  color: white;
  font-family: anaheim;
  font-weight: 500;
}

@media only screen and (min-width: 500px) {
  .sluzbox {
    gap: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sbox {
    width: 40vw;
    margin: 2%;
  }
}

@media only screen and (min-width: 800px) {
  .sluzbox {
    gap: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sbox {
    width: 25vw;
    margin: 2%;
  }
}

.cenik {
  height: 30%;
}
.kbox {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: #07192f;
  color: white;
  box-shadow: 3px 2px 15px #bcb276;
  margin-top: 7%;
}
.map {
  float: right;
  width: 30%;
}
.address {
  flex-direction: column;
  font-family: Anaheim;
  margin-left: 3%;
}
h3 {
  color: #bcb276;
  font-weight: 400;
  margin-bottom: 2%;
}
